[Unit]
Description=Ladon Monitoring Collectors
BindsTo=ladon.service
After=ladon.service

[Service]
Type=oneshot
WorkingDirectory=/home/todd/ML-Lab/Olympus/ladon
ExecStart=/home/todd/ML-Lab/Olympus/ladon/node-exporter-textfile/mdstat.sh
ExecStart=/home/todd/ML-Lab/Olympus/ladon/node-exporter-textfile/lvm.sh
